.leaflet-container {
    width: 85%;
    height: 60vh;
    z-index: 1;
    justify-self: center;
    border: solid 2px black;
    position: relative;
    left: 10%;
    right: 10%;
    /* margin: -25px 0 0 -25px; */
    display: inline-block;
}

.map-popup-style {
    font-size: 15px;
}